<div class="search-field">
  <input placeholder="Enter name" />
</div>

<ng-container *ngFor="let item of data">
  <div class="card">
    <div class="card__header">
      <span>{{ getTitle(item) }}</span>
      <button (click)="removeItem(item)">Remove</button>
    </div>

    <div class="card__body">
      City: {{ item.address }}
    </div>
  </div>
</ng-container>